<div class="chat-container">
  <div class="chat-box" id="chat-box">
      <%= render "message", sender: "System", content: "Hello! Please ask a question about your application data and I will respond with a raw sql query." %>
      <% if @query.present? %>
        <%= render "message", sender: "User", content: markdown.render(@query).html_safe %>
      <% end %>
      <% if @error.present? %>
        <%= render "message", sender: "System", content: @error %>
      <% end %>
      <% if @choices.present? %>
        <% @choices.each do |choice| %>
          <%= render "message", sender: "System", content: markdown.render(choice.dig("message", "content")).html_safe %>
        <% end %>
      <% end %>
  </div>
</div>

<%= render "form" %>
